pydantic-settings
pypdf
PyMuPDF
pytesseract
Pillow

langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb

sentence-transformers

numpy
streamlit
python-dotenv
langchain-groq