fastapi
uvicorn[standard]
python-multipart
pydantic-settings
pypdf

langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb

sentence-transformers

numpy
requests
streamlit
python-dotenv